<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <Platform>x64</Platform>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <PublishDir>..\Build\Release\x64\net8.0-windows10.0.19041.0\win-x64\publish\</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <SelfContained>false</SelfContained>
        <_TargetId>Folder</_TargetId>
    </PropertyGroup>
</Project>